.container {
    margin: auto;
    background-color: aliceblue;
    width: 1920px;
    height: 1000px;
    text-align: center;
}
.loginBox {
    background-color: aqua;
    margin: auto;
    width: 800px;
    height: 520px;
}
.textBox > h1 {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: -0.006em;
}

.textBox > p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.006em;
}

.buttonBox{
    margin-top: 60px;
}
.loginButton {
    width: 400px;
    height: 40px;
    margin: 5px;
    border-radius: 4px;
    border: transparent;
    font-size: 16px;
    line-height: 24px;
   font-weight: 400;
}