.table{
  width: 100%;
  border: 0;
  text-align: left;
  /* width: fit-content; */
}

.tr {
  display: flex;
}

tr,
.tr {
  height: 30px;
}

th,
.th,
td,
.td {
  width: 30px;
  border-bottom: 1px solid lightgray;
  /* box-shadow: inset 0 0 0 1px lightgray; */
  padding: 0.25rem;
}

th,
.th {
  padding: 2px 4px;
  position: relative;
  font-weight: 700;
font-size: 14px;
line-height: 20px;
  /* text-align: center; */
  height: 30px;
}

td,
.td {
  height: 30px;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

input[type="checkbox"]{
  width: 10px;
  height: 10px;
}

.input_box{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

